.App {
  text-align: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: skyblue;
  color: white;
}

.nav-links{
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  text-decoration: none;
}

.nav-home{
  position: relative;
  left: 200px;
}
.nav-profile{
  position: relative;
  left: 100px;

}

.nav-logo{
  position: relative;
  right: 18%;
}

.Brand{
  text-align: center;
}

#brandName{
  font-family: cursive;
}

#slogan{
  position: relative;
  top: -20px;
  font-size: 12px;
  transform: rotate(355deg);
}
