.App {
  text-align: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: skyblue;
  color: white;
}

.nav-links{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}

.Brand{
  text-align: center;
}

#brandName{
  font-family: cursive;
}

#slogan{
  position: relative;
  top: -20px;
  font-size: 12px;
  transform: rotate(355deg);
}
